

<h1>{{name}}</h1>

<dl>

  <td>Nombre:</td>
  <dd>{{name}}</dd>

  <td>Año creación:</td>
  <dd>{{anio}}</dd>

  <td>Método:</td>
  <dd> {{ getHeroeDescription() }} </dd>

  <td>Capitalizado:</td>
  <dd> {{ capitalizedName }} </dd>

</dl>

<button
  *ngIf="name !== 'Angular'"
  (click)="changeLenguajeProgramacion()"
  class="btn btn-primary mx-2">
  Cambiar Nombre
</button>

<button
  *ngIf="anio !== 2016"
  (click)="changeAnio()"
  class="btn btn-success">
  Cambiar Año
</button >

<button
  (click)="resetForm()"
  class="btn btn-warning mx-2">
  Some Year
</button>
